<h1>Listing cv_entries</h1>

<table>
  <tr>
    <th>Entry</th>
    <th>Category</th>
    <th>Class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cv_entries.each do |cv_entry| %>
  <tr>
    <td><%= cv_entry.entry %></td>
    <td><%= cv_entry.category_id %></td>
    <td><%= cv_entry.class %></td>
    <td><%= link_to 'Show', cv_entry %></td>
    <td><%= link_to 'Edit', edit_cv_entry_path(cv_entry) %></td>
    <td><%= link_to 'Destroy', cv_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cv entry', new_cv_entry_path %>
